#about {
	padding-bottom: 110px;
	@media (max-width: 991px) {
		padding-bottom: 80px;
	}
	@media (max-width: 767px) {
		padding-bottom: 60px;
	}
	@media (max-width: 576px) {
		[class*='col-'] {
			width: 100%;
		}
	}
}

.bg-about {
	position: absolute;
	left: 166px;
	top: 0;
	z-index: 0;
	@media (max-width: 767px) {
		display: none;
	}
}

.about_broccoli {
	@media (max-width: 767px) {
		flex-direction: row-reverse;
	}
}

.about-img {
	position: relative;
	@media (max-width: 576px) {
		position: static;
		text-align: center;
		padding-bottom: 30px;
	}
	.about-img__moved {
		position: absolute;
		top: 180px;
		left: 230px;
		@media (max-width: 1199px) {
			left: 220px;
			top: 220px;
		}
		@media (max-width: 991px) {
			left: 200px;
			top: 200px;
			width: 200px;
		}
		@media (max-width: 767px) {
			left: 260px;
			top: 200px;
			width: 210px;
		}
		@media (max-width: 576px) {
			display: none;
		}
	}
	img {
		@media (max-width: 1199px) {
			max-width: 100%;
		}
		@media (max-width: 767px) {
			max-width: 75%;
		}
		@media (max-width: 576px) {
			max-width: 260px;
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 185px;
		height: 69px;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22185%22%20height%3D%2269%22%20viewBox%3D%220%200%20185%2069%22%3E%3Cimage%20width%3D%22185%22%20height%3D%2269%22%20xlink%3Ahref%3D%22data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAALkAAABFCAYAAAAW%2FUc%2BAAAPzUlEQVR4Xu1de3xU5Zl%2B3nPmEkISSBC8gK2r1rZAbS1UyMyA0K52ucxMwA3tVrS6VWlrZgKs2nprg7Ve8BIyiVb252rdrq0rqzAzIIXfj4uQmWBF7K6NtZa11kJQbpLQkJyZc867v3dw3BSRTEIIyZmT%2F%2BBcvu95vud8837v%2B37vR8ygFSsqlXnzVhiw%2F2wGLMgARbYEx5Jqfj5NvG2xZ%2FVuC2K0IeU5A1TX6L%2BPiH4IxvywL%2FZMnvNhw7cgA1SXmDUerFylgOpDvliLBTHakPKcAcpz%2FDb8PGAgI3JZfNYn%2FJNA9DiDH672xn%2BRB9htiHnCwEczeUPSP9tkijPjJ9W%2B2I%2FyBL8NMw8Y%2BEjkT22aVtBeUDzWMLC%2F2hd%2FNw%2Bw2xDzhIGP2eSPbqosMtydfjbUt87e4%2Fyt7T%2FPEyVYGObHRL5sW%2BBixcCrADbo5P7WYs%2BKgxbGb0PLAwY%2BJvKGl%2BeMMHTjVhC969BcT980fcVf84AHG6KFGTihC%2FGxrbNKh%2BjtHddN39xpYQ5saBZn4BNFXrNpmqPUVfIQAbNNFd6Fk2PvW5wLG55FGfhEkcsCVHdry4jhh%2BqYEJ78wi6LcmDDsjgD3UY8azdVDF80fdUhi%2FNgw7MwA92KXLDXba2YQIq5gMFrqr3xqIX5sKFZkIGcRF6fCF7H4CdBaAh7YiEL8mBDsjADOYlc7HPTqX0VQEvIF9tuYT5saBZkICeRd8Vd3%2BifYUIhakttCM9cq1mQExuSxRjouciTgW3MmMSqeVH15NV%2FtBgfNhwLMtBjkdc1Bq8nwlSdXAsWe1Z0WJATG5LFGOixyLP4Iy%2FOcBtFQ8pchnrYDv1bTBUWg9NrkX%2FoVvwNgX8d8sZnWYwXG46FGOi1yJc1Bj6rEN1PjJ0hX%2FQWC3FiQ7EYA70WeZaHBxoDxR2lbq3sUPrcDjb3%2FsAXO2wxjmw4g5yBkxa54K9LBBYTcA2IHwiVx58lAg9yXuzuW4iBPhF5fWMgwIQagO4Ne6P%2FZSF%2BbCgWYKBPRP5IsnKIy%2Bw8f1RLwZu7xmCYO50a%2Bv2p0V32jG4BhVgAQp%2BIPMvDc89Vqu%2Bdoy0G4UZWzZl2sMgCCrEAhD4VufjOMdxxO1j5Nsj8dtgTf8kCHNkQBjkDfSryjwJFW2aMDE9du6%2BGa5SRm5sL7WDRIFfJIO%2F%2BKRG5cCIbok1dvx%2BgLxlQbljkXfXbQc6V3f1BysApE7nM4mWJHQ%2BDMJFNZWH1lFVS5sL%2BsxnodwZOmcgFSWTbjBLSHCOKzMN72lxDLyTDYR4c4dpZM25Fqt%2BR2g3mLQOnVORdWY0kgusAPtswjYpFU9a8nbeMD2Lgy7ff6Eyl9swyFW4OT1q9cyC6iKXKRM30zXpmkt0yY6TiLjD7T%2BTJQD0BX9F1x5yFU154byASNIj11y9dP7rOMvaDsNbtcv%2FTgokrWrMNS2XkgTCm9Ul%2FBYPuBFMK4BIQP9FvIu86Cg2JmZ82yDm62hNN9svo2I30CQMPrrtiqLu44H4y6e2QL1r70Cb%2FGW4XtphEyXB57AYRufwfp7SOW76%2Bvr1PGu3mJfLhsWHMZ5N2HEy3NpW5iucD9CAIG8F8HkD9L3IpcaG6zBcAXMwwplV71%2FyuP8iw2%2Bh7Buoa%2FZ9SiJIMbA97YxVScc1Q1Vo2%2Ba2wL35vtkWJiHfdYCNOiRqqMXvTIzGZtNQej6nQm1LwqrZpzudV03gDQAxG%2BnpxXS%2Ff7i9cMDF%2BpP4l%2F9%2BxWz%2FQ7zO5AHYgVQnT9KjpgpttH3pvhnpgPCMmSsMW%2F3mKk9SbPLGdGVE5KAFCS9gTmygfARE9A%2FDus3YXXNU%2Bcp%2BzzTF8HCvm0IXe2BZBIYLs0DDukGfCqz9GDS9NBIqGOlVX1aSVB%2BT9tU2zz3Gycr0BfnGhN%2F7Ksq3BSYrCSRDWhT2xmR9OmlUK4%2BVRLe6NUoW5vjH4DSa%2B2gn1n7%2FnXbm330WeHR6pACACr0%2F4rwRoPEH%2FeZX3xT8PjOGze9EbBjI17h2ln2JTT4cui%2F8pI3onngQrqYOp1lkl7qIznaysZuAcIr6MFb2FDefdRLjcZL5WhF6W3LEAwGMEvinkjT9Wlwz8AzHWgnl52Bf%2F7s8Sc0alYdwD0PrjJQPWNFe6yg5pDQBuYBhfCHvWNJ82kWdJjDQGngbhGmL6ZsgX%2Fc%2FekGs%2FMzAZEE%2FHCKX4XN3lKFhUvvL3svegkPhqgEYeGO6%2Bb2wzjD1jOhcR6KsAPyBpIPWJwHxm3KIofEeVJ746sm3uGNb1q5mQyM7%2BIuTjuaFl5hcmftY4a7gB5xcV3bldJtLTL%2FJkxaVgc4JhGutceuHevzo1sjdeDEzRnopeibmhOI2SY083kTyoE5U8aWjyf5lZGelynblxwcR%2FTWfyporVzxEcpaEpqzZ37etpF3nXzkQaA1eB6KdE5sKq8nh0ILikTsXA2u88OQaObr3EEwDOYBiV4rw4asaYvwR4LCmoDJXHEtlWBpbIk8EFYF4GxvVntbiftY9yOTkxWOnp5dsrh%2BkpbeQ%2Bre0dTJtmliV2%2FAsRSNHpVzddFv2LYJUdaiBWVNXxlCxcB6TIpVOyIN03Cins3WeWuosXEvCKnbJrJbn2DkukMTAXhOcIHOZW%2Fd86Spwu2Vsstnl9U8BLivpm1iMjLXS1AgbUTP43psuW4Fio3CzRNXEV9Y4a%2B6nBzsCjv5l51k2XvvheXTI4h5iXgvGDg%2Bm2WDZ0vyzh%2F4oCWgvwg2jVlx3Pjh%2BwIs%2F4P93GtcRK6wHPJU8Pf3nHSO5QNLtW%2BmCXbW79l8ipy0m%2FAMFwu3meBHeO92RtouJLKpsNrPCqD8onPHK8INOAFXlXQGKPaSntHjCmGKYx107wyk0og%2B0uSRsodA0jcfvJDG6kHY8DKIGarghPXtt2LJ5HkpVlcjqhZLse7%2FqAtcmP%2B7VmUgGMBwk0kRT%2BTlV5fMdgG0C7v90zkPGRE24jk%2B4%2BkG59%2FgxX4WgmdUjIE3%2Bz69NHPwD1NoAuMBSlalH5qndO9PZBMZN3BSB5D6VNO64A0%2FUEfirsja3pnj77joHKQO2WuWcXFqpHJKMxkgjcCeAOEC0Ie6L%2F%2Fkl9zvyya6l6gC9QmG%2Bs8sWbLSVyARNJ%2BK8F6ClJqQx7ovcuQQ1h82YluxgZqANq9%2BtvGZCAjmnSvQxsK0m13f%2FnadNSJU3N7lJtHx%2FvWE1JzpLAj7xFMlmZnCUhT%2FT17ngddDO5AJIvOZVKTTYV420pe1GfDH7LNE29oACrP2mB0h0R9vX%2BYUDGbs%2BEcYdlgVi7ddb5DkV9noENMNIPSAbhiXoRaQr%2BPZl8l0nm3dWe1Rty7fGgFHlXcJKvUJ8MSKrl53Qyxyz2rN6dK3j7vv5lIFOXZ7QmB6tNMlWMP%2Bdd9%2F73z9EuOQL8IZdUjrpE8A4C30OEeWfucr%2BQa7DQGiLfFvwameZFkrV2NLHffSuAjXYQqX9FfLzWMum2oIkw01s7FGdnAfhxUuizB7W2ybmal5LdKO8WE0byx%2FW29ndvvmL9kVzTPga9yI8lNtLonwyiJmKsDPlic%2BW65LAvKl%2FRmSspp18ag7cHXTdESNIUD3PdLLMvGPPDvtgzgkxEm%2BtR9o8kZ492sLKYQL8LeaNP9WabneVELkEkh4vnmIRD4fLoqrrG4KWksJdVPGMfnX7qP55Hk4ELDfBsBr%2F%2BQfnETWc0vTrTYPqGQvQfIU90XU97EEkGLgFDsgpl99HXevq83G85kR9rr0cSgSVEuJOAH4a8saW9Icl%2B5sQMRBIVF%2Bjk%2FCATmGkMVIFQD%2BDhkCeWOZzhZH5BJdCj6M5JrNB7uXhSjtdTS4tcAC%2FbFriYdFxCDseG8OQXdtUlAg%2BAeQyR%2BqOwd9X%2F2gLuOQNdTZL6ZPALLJmjQLI41fbTw%2BqQYlIdU8l0vF41ZeVbPX%2F70SfqEoEaMBTVqdZ1zSjszfssL%2FKP2exH67%2BMB%2FOVYV98m%2BQma0BLLqv73hBstWeOBuNeC8KE9kG6df2wguFjVNN8nkHbDHLdJbO53CP7NXs7g2c2QAxz7gSgK8yzuwv2dMdx3om8YeuciwzSR6XatdfaxwxLlx3S%2FgTgXVWnedm85O5Iy7frj74UPNdU%2BUw5jftotFE7BGB%2FyBMbJUIWu%2FngMHfzyVZGExdj1i1Ylwx6iI0iNTUkebKb3fNO5F0FKjvFtRSeBSsHoKaqtVbDcBcVLCdwUnKWJW2zK%2FH5IG7xXix5o9KZFawEbFRFjQAYoabcl2tuGCprQQWcDnnjz%2FcVJ8Jzy2jNqwDfVBzqXSdronTtV16L%2FNhFakMicDYTdgHY7HbzbLne2alMcxh4PV9OzvgwL%2BQ2EH%2BGTV5UUFDQmtK0pQwUE%2BPmkC%2FWIrx0DbH3hdBls4zh6nwCoDkEnhHyxjf2xXst713pKUmZwjXp9y8Dm2kJJGUL1xDh5ZAnNllmuUhT4OuqyX%2FJ2om98dv2tF99fX%2FXYj%2Byo77MWXwrFBqe0nip20kuEH7FwFlE9I%2Fi0ZBd9kMcaTpROuvJ9jHDbcJ%2FrgSO1LR7%2FcmaKPZMnuOISOK%2B00W3KET%2FHfJEfymeGsXAFhA2hD2xK0UsqtIxxmU4W6WITY6v7ffbREA%2F3zzNLQlQkjMinguFaajh4IcOTfryvrLkDvFDf9o0ad7CKdGXM3ndpY7iwvYjh3IN2vQVqFNhHtrmSg6jk3WZyQJMd%2FLtCvOBkDd%2B54dZdFJ3%2FaWwNzZNkvgd3BkAuCXsXb3%2BdM3ytU0V56mkHczOvJFEcCVgajoVXCfl2iKJwB9E1KpOn5HFdiTpvwymYhanW1%2Fpb1HnQP9J32KLvAcUitjxRrMjuyiTIAhg3s6MndW%2B2H2Z%2FYZEm8B4J%2ByNjZfSwVCct4O4SKeC8FBXqS51%2FNgkhdrSSVnYiol05PDeodltfWKbpgrSZ7SWOFuy7WQOBE63dUiuR8Z0UHCh2%2BV%2BW3Kw%2F3%2FXFP0x7I1GMrk7RQXvANQe9kbPk0I8I1q1LcwoQmt6grQpla2ktJvsfM81f6QHNA24W22R98GQZHMxMlVencrVDE6HfbGGD236VQA6HKYxXR1SaGqaFs2cvsHG5LN3F%2F7%2B%2FdGpWgb7CfwdWWxFksFrwPguE99d7Yn9uj4ZqATzEhAtD3lidcsSgakKIAeOxcLeWDCzxxHma2D8T9gX%2B2Jmb6SblhNjf8gbWyAf5oim18axDiM8NSrZmpm%2F0%2FUr0wd09%2FgVtsh7TFnPHpDSwmQYpTJrlnUMUXmY40ZiOh8Ox8MSgY0k%2FUsATGUod0gp67qk%2F2YCfZ9MLA35Yo9LvW0w%2FdgEP1ntjdfXba2YQKr5E2ZeK%2F8WN2inhssVRirki6%2FNRxF3NyK2yLtj6BRfF5Hq7coIoz21V0wJMUeK2XB8z7fmkARaMgcBG%2Fq5aZ332pUKejcY%2Fwd%2Bhgo%2FcGeDmAAAAABJRU5ErkJggg%3D%3D%22%2F%3E%3C%2Fsvg%3E");
		bottom: -30px;
		right: 24px;
		@media (max-width: 1199px) {
			display: none;
		}
	}
}

.section-title {
	color: #333;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 45px;
	position: relative;
	z-index: 1;
	@media (max-width: 767px) {
		margin: 25px 0;
	}
	@media (max-width: 576px) {
		text-align: center;
		margin: 0 0 25px 0;
		font-size: 46px;
	}
	@media (max-width: 380px) {
		font-size: 36px;
	}
}

.text {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom: 45px;
	position: relative;
	z-index: 1;
}

.about-butn-holder {
	@media (max-width: 576px) {
		text-align: center;
	}
}