.modal-backdrop {
	background: #4baf50;
	&.in {
		opacity: .75;
	}
}
.modal-dialog {
    pointer-events: auto;
}

.modal-dialog_sm {
	width: 100%;
	max-width: 350px;
	margin: 5% auto 10px;
}

@media (max-width: 386px) {
	.modal-dialog_sm .close-x {
		top: 15px;
		right: 15px;
	}
}

.modal-dialog_xl {
	width: 100%;
	max-width: 1033px;
	margin: 5% auto 10px;
}

@media (max-width: 1076px) {
	.modal-dialog_xl .close-x {
		top: 15px;
		right: 15px;
	}
}

.modal-content {
	box-shadow: 0 3px 55px rgba(21, 21, 22, 0.2);
	background-color: #ffffff;
	border: none;
	border-radius: 0;
	overflow: hidden;
	padding: 100px 30px 30px 30px;
	position: relative;
}

.modal-content__img {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all ease-in-out;
	transition-duration: .3s;
	transition-delay: .6s;
}

.modal-content__hiding-content {
	position: relative;
	transform: translateY(350%);
	transition: all ease-in-out;
	transition-duration: .3s;
	transition-delay: .6s;
}

.modal-content__title {
	color: #333;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 10px;
}

.modal-content__subtitle {
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 17px;
}

.show {
	.modal-content__img {
		top: 30px;
		transform: translate(-50%, 0);
	}
	.modal-content__hiding-content {
		transform: translatey(0);
	}
}

fieldset {
	padding: 20px 0 0 0;
	border: none;
	position: relative;
}

.modal-input-row {
	position: relative;
}

.modal-butn-row {
	padding-top: 30px;
	text-align: center;
	.butn {
		width: 100%;
		max-width: 290px;
	}
}

.modal-input {
	width: 100%;
	border-radius: 25px;
	border: 1px solid #bcbcbc;
	background-color: transparent;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	padding: 15px 18px;
}

.modal-input:hover, .modal-input:focus {
	border-color: #92c54e;
}

textarea.modal-input {
	max-width: 100%;
	min-width: 100%;
	min-height: 196px;
	max-height: 196px;
}

.resultval {
	color: #4baf50;
	font-size: 50px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
}

.modal-input + label,
textarea + label {
	position: absolute;
	top: 38px;
	left: 18px;
	z-index: 9;
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

.modal-input:focus + label,
label.stay,
textarea:focus + label {
	top: 3px;
	font-size: 12px;
	color: #92c54e;
}

.close-x {
	top: -15px;
	right: -15px;
	position: absolute;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	border: none;
	z-index: 9;
}

.close-x:before, .close-x:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 22px;
	top: 19px;
	left: 9px;
	background-color: #bbbcc3;
	transition: all 0.3s ease-in-out;
}

.close-x:before {
	transform: rotate(45deg);
}

.close-x:after {
	transform: rotate(135deg);
}

.close-x:hover:before, .close-x:hover:after {
	background: #92c54e;
}

.close-x:hover:before {
	transform: rotate(-135deg);
}

.close-x:hover:after {
	transform: rotate(315deg);
}

@media (max-width: 700px) {
	.modal-content__table-wrap {
		overflow-x: scroll;
	}
}

.modal-content__table {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 35px;
	th {
		background-color: #92c64e;
		height: 52px;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		padding: 5px;
		text-align: center;
		border: 1px solid #fff;
	}
	td {
		height: 52px;
		color: #666666;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.1;
		border: 1px solid #fff;
		padding: 5px;
		&:first-child {
			font-size: 18px;
			font-weight: 700;
		}
	}
	@media (max-width: 700px) {
		width: 640px;
	}
}

.modal-content__table tr:nth-child(1n+1) td:nth-child(odd) {
	background-color: #dbefdc;
}

.modal-content__table tr:nth-child(1n+1) td:nth-child(even) {
	background-color: #c9e7ca;
}

.modal-content__table tr:nth-child(2n+1) td:nth-child(odd) {
	background-color: #deeeca;
}

.modal-content__table tr:nth-child(2n+1) td:nth-child(even) {
	background-color: #e9f4dc;
}

.modal-content__table-text {
	color: #333333;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 20px;
}

.modal-content__table-butn {
	text-align: center;
}

.modal-content__table-butn .butn + .butn {
	margin-left: 30px;
}

@media (max-width: 555px) {
	.modal-content__table-butn .butn {
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 260px;
	}
	.modal-content__table-butn .butn + .butn {
		margin-top: 30px;
	}
}

body.modal-open {
	padding-right: 17px !important;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body.modal-open header {
	margin-right: 17px;
}

.modal-content__testemonial-name {
	color: #333333;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 15px;
	padding-right: 30px;
}

.modal-content__testemonial-date {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 25px;
}

.modal-content__testemonial-text {
	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

.modal-content_testemonial {
	padding-top: 30px;
}